{% extends 'blog/base_blog.html' %}
{% block title %}Recent blog posts{% endblock %}
{% block content %} 
<h2>Welcome to my personal blog</h2>
<h3>Recent posts:</h3>
<div> 
	{% for post in posts %}
		<a href="{{post.get_absolute_url}}">
			<h4> {{post.title}} </h4>
		</a>
		<h5> written by: {% for a in post.author.all %} {{a.username}} {% endfor %}|| {{post.date}} || category: {% for c in post.cat.all %} {{c.name}} {% endfor %}</h5>
		<p> {{post.body|slice:'0:200'}}... </p>
		<h5> Tags:{% for t in post.tag.all %} {{t.name}} {% endfor %}</h5>
	{% endfor %}
</div>
{% endblock %}